.jumbotron {
    text-align: center;
    color: white;
    font-family: 'Merriweather', serif;

}

body {
    font-family: 'Merriweather', serif;
}

#mainContainer {
    background-image: url('https://dv-website.s3.amazonaws.com/uploads/2019/05/jz_csweather_060619.jpg');
}

#search {
    color: white;
}

h3 {
    color: white;
}

.fiveDay {
    color: white;
}
