.jumbotron {
    text-align: center;
    color: white;
}

#search {
    color: white;
}

#mainContainer {
    background-image: url('https://dv-website.s3.amazonaws.com/uploads/2019/05/jz_csweather_060619.jpg');
}


.fiveDay {
    color: white;
}

#currentWeather {
    font-size: large;
    color: white;
}

.city {
    font-size: x-large;
    font-weight: bold;
}

h2 {
    color: black;
    text-align: center;
    font-weight: bold;
}

body {
    font-family: 'Merriweather', serif;
}
